* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main page */
nav > ul > li {
  list-style-type: none;
}

.main-icon {
  width: 15rem;
  height: 7rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  text-decoration: none;
}

.search-bar-container {
  text-align: center;
}

.search-bar {
  height: 2.5rem;
  width: 30%;
  padding: 1rem;
  font-size: medium;
  border-radius: 20px;
}

/* login page */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -6rem 0;
}

.login-error {
  color: red;
  text-align: center;
}

.login-page-logo {
  text-align: center;
  padding: 20px;
  margin-bottom: 25px
}

.user-credentials {
  display: flex;
  flex-direction: column;
  margin: -.5rem auto 0 auto;
  padding: 2rem 5rem 5rem 5rem;
}

.input-fields {
  width: 25rem;
  height: 3rem;
  padding: 5px 10px 5px;
  font-size: 16px;
  border-radius: 15px;
  margin: 10px 0;
}

.login-button {
  width: 25rem;
  height: 3rem;
  font-size: 16px;
  border-radius: 15px;
}

.login-button:hover {
  cursor: pointer;
}
