* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --item-background-color: #f5f5f5
}

/* nav bar */
nav > ul > li {
  list-style-type: none;
}

.main-icon {
  width: 15rem;
  height: 7rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  text-decoration: none;
}

/* search bar */
.search-bar-container {
  text-align: center;
  margin-top: 1em
}

.search-bar {
  height: 2.5rem;
  max-width: 40rem;
  width: 100%;
  padding: 1rem;
  font-size: medium;
  border-radius: 20px;
}

/* login page */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -6rem 0;
}

.login-error {
  color: red;
  text-align: center;
}

.login-page-logo {
  text-align: center;
  padding: 20px;
  margin-bottom: 25px
}

.login-fields {
  text-align: center;
}

.user-credentials {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  width: 100%;
  height: 30rem;
}

.input-fields {
  max-width: 25rem;
  width: 100%;
  height: 3rem;
  padding: 5px 10px 5px;
  font-size: 16px;
  border-radius: 15px;
  margin: 10px 0;
}

.login-button {
  max-width: 25rem;
  width: 100%;
  height: 3rem;
  font-size: 16px;
  border-radius: 15px;
}

.login-button:hover {
  cursor: pointer;
}

/* cart */
.cart-container {
  display: flex;
  justify-content: center;
}

.cart {
  max-width: 70rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.cart-list {
  width: 75%;
  padding: 20px;
}

.cart > ul > li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 18px;
  background-color: var(--item-background-color);
}

.cart-source-icon {
  position: absolute;
  transition: width 0.1s ease-out 0s, height 0.1s ease-out 0s;
}

.cart-source-icon:hover {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  color: black;
}

.cart-item-detail {
  padding-left: 40px;
  line-height: 1.5rem;
}

.product-price {
  font-weight: 700;
}

.cart-item > div > p {
  width: 30vw;
  font-weight: 400;
}

.cart-item-image {
  max-width: 8rem;
  max-height: 8rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.add-to-cart {
  border: none;
  background: none;
  padding: 10px;
  position: absolute;
  top: 90%;
  left: 85%;
}

.add-to-cart:hover {
  cursor: pointer;
}

.add-to-cart svg:hover {
  height: 30;
  width: 30;
}

@media screen and (max-width: 800px) {
  .cart-container {
    width: 100%;
    align-items: center;
  }

  .cart-item-image {
    max-width: 5rem;
    max-height: 5rem;
  }

  .cart-item > div > p {
    width: 70vw;
  }

  .cart-item-detail {
    font-size: .82rem;
    padding-left: 20px;
    line-height: 1.3rem;
  }

  .cart-list > li > p {
    font-size: .8rem;
  }

  .cart-list {
      width: 100%;
      padding: 0px;
  }

  .cart-source-icon {
    width: 20px;
    height: 20px;
  }

}

/* product */
.product-container {
  display: flex;
  justify-content: center;
}

.product {
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 70rem;
  width: 100%;
  padding: 2%;
  border-radius: 20px;
}

.product-source-icon {
  position: absolute;
  transition: width 0.1s ease-out 0s, height 0.1s ease-out 0s;
}

.product-source-icon:hover {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.single-product {
  list-style-type: none;
  border-radius: 10px;
  background-color: var(--item-background-color);
  height: 23em;
  position: relative;
  min-width: 14em;
}

.product-image {
  max-height: 10rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 20px
}

.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  height: 100%;
  transition: box-shadow .3s ease-in-out;
}

.product-detail:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-text {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: .9em;
  line-height: 18px;
}

/* categories */
.categories-container {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.categories-container > ul {
  width: 80em;
  display: flex;
  justify-content: flex-start;
  padding: 1.2%;
}

.categories-container > ul > li {
  list-style-type: none;
  border-right: .5rem;
  width: fit-content;
  margin: 0 0.5em;
  padding: 12px 10px;
  border-radius: 0.5em;
  background-color: var(--item-background-color);
  font-size: .93em;
  font-weight: 450;
  transition: box-shadow .3s ease-in-out;
}

.categories-container > ul > li:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.category {
  text-decoration: none;
  color: black;
}
